<nav data-dds="breadcrumb" aria-label="breadcrumb">
  <ul id="list" class="dds_breadcrumb">
    <li class="dds__breadcrumb__item"><a href="#">Home</a></li>
    <li class="dds__breadcrumb__item"><a href="javascript:;">Quotes</a></li>
    <li class="dds__breadcrumb__item"><a href="https://www.google.com/">Orders</a></li>
    <li class="dds__breadcrumb__item"><a href="https://www.google.com/">Accounts</a></li>
    <li class="dds__breadcrumb__item"><a href="javascript:;">Purchase Orders</a></li>
    <li class="dds__breadcrumb__item active" aria-current="page">Contacts</li>
  </ul>
</nav>
